[submodule "Toolchains"]
	path = SW/Toolchains
	url = ../toolchains.git
	branch = master
[submodule "Schematics/Regulators"]
	path = Schematics/Regulators
	url = ../regulators.git
	branch = master
[submodule "Schematics/StepperDriver"]
	path = Schematics/StepperDriver
	url = ../stepper-driver.git
	branch = master
[submodule ".SW/lib/Serial"]
	path = SW/lib/Serial
	url = ../serial.git
	branch = master
[submodule "SW/lib/CLI"]
	path = SW/lib/CLI
	url = ../cli.git
	branch = master
[submodule "SW/lib/Timer"]
	path = SW/lib/Timer
	url = ../timer.git
	branch = master
[submodule "SW/lib/TaskScheduler"]
	path = SW/lib/TaskScheduler
	url = ../taskscheduler.git
	branch = master
[submodule "SW/lib/GPIO"]
	path = SW/lib/GPIO
	url = ../gpio.git
	branch = master
[submodule "SW/lib/PID"]
	path = SW/lib/PID
	url = ../pid.git
	branch = master
[submodule "SW/lib/IMU"]
	path = SW/lib/IMU
	url = ../imu.git
	branch = master
[submodule "SW/lib/I2C"]
	path = SW/lib/I2C
	url = ../i2c.git
	branch = master
[submodule "lib/Database"]
	path = SW/lib/Database
	url = ../database.git
	branch = master
